<p style="color: green"><%= notice %></p>

<h1>Containers</h1>

<% if @error %>
  <p>Error: <%= @error %></p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @containers.each do |container| %>
        <tr>
          <td><%= container.json['Id']%></td>
          <td><%= container.json['Name'].sub(/^\//, '') %></td>
          <td><%= container.info['State'] %></td>
          <td>
            <!-- Add actions like start/stop here -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>